*{
    box-sizing: border-box;
    text-align: justify;
}

#seccion_de_contactos{
    background-color: midnightblue;
    width: 25%;
    height: 989px;
    float: left;
    color: antiquewhite
    ;
}

#imagen{
    width:100%;
        
}

#cuerpo_principal{
    width: 75%;
    height: 989px;
    float: left;   
    padding-left: 2%;
    padding-right: 2%;
}

#subtitulos{ 
    padding-left: 2%;
    padding-right: 2%;
}

#parrafos1{
    
    padding-left: 2%;
    padding-right: 2%;

}

.boton{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

#lista_de_logros1{
    display: none;
}

#lista_de_logros2{
    display: none;
}

@media only screen and (max-width: 960px) {
    *{
    box-sizing: border-box;
    text-align: justify;
    }

#seccion_de_contactos{
    background-color: black;
    width: 100%;
    height: 100%;  
    color: whitesmoke
    ;
    }

#imagen{
    width:100%;
        
    }

#cuerpo_principal{
    width: 100%;
    height: 100%;   
    padding-left: 3%;
    padding-right: 3%;
    }

#subtitulos{ 
    padding-left: 3%;
    padding-right: 3%;
    }

#parrafos1{
    
    padding-left: 3%;
    padding-right: 3%;

    }

.boton{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    }

#lista_de_logros1{
    display: none;
    }

#lista_de_logros2{
    display: none;
    }
    
}